<label>Simon</label>
<div class="display-container">
    <div class="display-text">{{display}}</div>
</div>

<div class="button-container" ng-click="buttonClick()" data-msg="click to begin">
    <!-- <span class="switch">&nbsp;</span> -->
    <i class="fa fa-power-off fa-2x" aria-hidden="true"></i>
</div>

<!-- <span class="fa fa-toggle-on fa-3x" aria-hidden="true" ng-click="buttonClick()"></span> -->

<!-- <div class="button-container" ng-click="buttonClick()"> -->
<!-- </div> -->
<!-- <div class="switch-container">switch</div> -->
